.home {
  max-width: 800px;
  margin: 0 auto;
}
.login {
  max-width: 500px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.post {
  box-shadow: 0px 4px 34px 0px #00000026;
}

.profile,
.post-detail,
.comments,
.comments-header {
  padding: 15px 35px;
  border-bottom: 1px solid #f3e9e9;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.post-detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.post-title {
  font-size: 16px;
  font-weight: 500;
}
.comments-header {
  color: #727272;
  font-weight: 500;
}

.comments {
  margin-top: 1rem;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}
.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}
.comment-form-action {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.comment {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}
.comment-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  padding: 1rem;
  border-radius: 0px 16px 16px 16px;
}
.comment-content-top {
  background: #edf5f8;
}
.comment-content-child {
  background: #e9faff;
}

.comment-author {
  font-weight: 500;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: #3676d6;
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}